* {
    padding: 0;
    margin: 0;
    border: none;    
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main__wrapper {
    height: 100vh;
    width: 100%;
    background-color: rgb(218, 218, 218);
    padding-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
    .otd{
        border:1px solid rgba(0, 0, 0, .3);
    }
    .main__name {
        width:30vw;
        font-size:80%; 
        margin: 5px;
        background-color:white; 
        border:1px solid rgba(0, 0, 0, .3);
    }
    .main__inf{
        width:99%;
        font-size:80%; 
        margin: 5px;
        background-color:white; 
        border:1px solid rgba(0, 0, 0, .3);
    }
    .input_mainandetc{

        width:99%;
        font-size:80%; 
        margin: 5px;
        background-color:white; 
        border:1px solid rgba(0, 0, 0, .3);
    }
    .input_3{
        width: 99%;
        font-size:120%; 
        background-color:white; 
        border:1px solid rgba(0, 0, 0, .3);
        margin: auto;
    }
    .input_2{
        margin: auto;
        width: 99%;
        font-size:120%; 
        background-color:white; 
        border:1px solid rgba(0, 0, 0, .3);
    }
 
    .submit{
        padding-top: 10px;
        display: flex;
        justify-content: center;   
    }
    .submit_but{
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    background-color:#eaf0fe ;
    font-size: 150%;
    }
    #modalWin{
        display: none;
        background-color: rgba(201, 201, 201, 0.8);
        width: 100vw;
        height: 100%;
        position: absolute;
        padding-top:25vh;
    }
    #bufmodal{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal_content{
        height: 60vh;
        width: 70vw;
        background-color: #eaf0fe;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #outuptBB{
    
    }